<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomogatchi2">
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name=".MyContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tomogatchi2">
        <activity android:name=".Game2"></activity>
        <activity android:name=".GameSelector" />
        <activity android:name=".Game1" />
        <activity android:name=".Characteristics" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NamePet" />
        <service android:name=".BackgroundService"
            android:enabled="true"/>
        <activity
            android:name=".Drugstore"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Tomogatchi2.NoActionBar" />
        <activity
            android:name=".Shop"
            android:label="@string/title_activity_shop"
            android:theme="@style/Theme.Tomogatchi2.NoActionBar" />
        <activity android:name=".StartingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>
    </application>

</manifest>